.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
}

.detail-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.detail-description {
  text-align: center;
}

.detail-description h2 {
  font-size: 24px;
  color: #31603d;
  margin-bottom: 10px;
}

.detail-description p {
  font-size: 16px;
  margin-bottom: 15px;
}

.detail-description h3 {
  font-size: 1.4rem;
  color: #31603d;
  margin-bottom: 25px;
}

.detail-description small {
  font-size: 14px;
  margin-bottom: 15px;
  display: inline-block;
}
.detail .lien {
  color: #d23d2d;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 6px;
  font-size: 0.95rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
