select {
  padding: 10px 14px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  color: #333;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

option {
  padding: 8px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #ccc;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
