.toast {
  position: fixed;
  z-index: 500;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--espace-md);
  border: 2px solid var(--couleur-primaire);
  background-color: color-mix(in oklab, var(--couleur-accent) 60%, white 40%);
  color: var(--couleur-texte);
  top: 0;
  left: 0;
  right: 0;

  &.succes {
    background-color: #f5c065;
  }

  &.erreur {
    background-color: #d23d2d;
  }

  @media (min-width: 500px) {
    padding: var(--espace-sm);
  }
}
